#app {
  max-width: 480px;
  width: 100%;
  max-height: 100%;
  background-color: #d290e4;
  padding: 25px;
  border-radius: 20px;
  overflow: auto;
  color: #222;

  font-weight: normal;
}
button {
  background: white;
  border: none;
  color: black;
  font-size: 1.2rem;
  margin-left: 1rem;
  cursor: pointer;
}

.delete-button {
  background: red;
  color: white;
  padding: 8px 16px;
  border: none;
margin:10px;
font-size: 16px;
  cursor: pointer;
}


body{
  width: 100%;
  height: 100vh;
  margin:0;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    #fdf7ff,
    #fff5fb,
    #fff4f2,
    #fff5e9,
    #fff8e4,
    #f9fae3,
    #f2fbe3,
    #e9fde6,
    #defbed,
    #d8f7f3,
    #d7f3f7,
    #daeef7
  );
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
  color:black
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
